.boxingE {
    width: 50%;
    margin-left: 10%;
}
.boxing-elsa h5 {
    margin-left: 4%;
}
h3 {
    margin-top: 6%;
    justify-content: center;
}
.boxing-ima {
    margin-right: 20%;
}

.boxing-ima img {
    margin-top: 5%;
    width: 40%;
    margin-left: 20%;
}